<div id="header">
    <ul class="nav nav-pills pull-right">
        <li data-page-id="home"><a href="/">Home</a></li>
        <li data-page-id="about"><a href="/about.html">About</a></li>
        <li data-page-id="portfolio"><a href="/portfolio.html">Porfolio</a></li>
        <li data-page-id="contact"><a href="/contact.html">Contact</a></li>
        <li data-page-id="blog"><a href="/blog/">Blog</a></li>
    </ul>
    <h1 class="title">
        <a href="/">
            <img src="/assets/img/thebrockellis.jpg" title="My mug shot" id='mugshot' />
            <span class='the'>The</span>BrockEllis
        </a>
    </h1>
</div>