<li class="{{ include.inverted_styling }}">
  <div class="timeline-badge"><i class="icon-{{ include.project.type }}"></i></div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">{{ include.project.title }}</h4>
      <p><small class="text-muted"><i class="icon-comments"></i> {{ include.project.subtitle }}</small></p>
    </div>
    <div class="timeline-body">
      <p> {{ include.project.comment }}</p>
      <div class='timeline-keywords'>
      {% for keyword in include.project.keywords %} 
        <span class="label label-default">{{keyword}}</span>
      {% endfor %}
      </div>
      <a href="{{ include.project.link }}">Link</a>
    </div>
  </div>
  <div class='timeline-pictures'>
    {% for picture in include.project.pictures %}
      <a data-fancybox="gallery" href="/assets/img/portfolio/{{ picture }}">
        <div class='img-thumbnail' style="background-image: url('/assets/img/portfolio/{{ picture }}');"></div>
      </a>
    {% endfor %}
  </div>
</li>
