<h2 id="acm">Other Ways <br />To Talk To Me</h2>

<div class="contact_icon" id="contact_facebook">
    <a href="http://www.facebook.com/thebrockellis">
        <img src="/assets/facebook.png" title="Facebook" /> 
    </a>
</div>

<div class="contact_icon" id="contact_twitter">
    <a href="http://www.twitter.com/thebrockellis">
        <img src="/assets/twitter.png" title="Twitter" />
    </a>
</div>

<div class="clearfix"></div>

<div class="contact_icon" id="contact_github">
    <a href="http://www.github.com/thebrockellis">
        <img src="/assets/github.png" title="Github" />
    </a>
</div>

<div class="contact_icon" id="contact_youtube">
    <a href="http://www.youtube.com/thebrockellis" title="YouTube">
        <img src="/assets/youtube.png" title="YouTube" />
    </a>
</div>

<h3>Latest Tweets</h3>
<p>Tweet</p>
<p>Tweet</p>
<p>Tweet</p>
<p>Tweet</p>